body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(b2.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.service form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.service input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.service input:focus {
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.service button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.service button:hover {
    background-color: #45a049;
}